<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$admin.title} - {$admin.name|default='Backend'}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {css href="__PLUGINS__/bootstrap/css/bootstrap.min.css" /}
    {css href="__PLUGINS__/font-awesome/css/font-awesome.min.css" /}
    {css href="__CSS__/AdminLTE.min.css" /}
    {css href="__CSS__/admin.css" /}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        const adminDebug = {$debug};
    </script>
    <link rel="stylesheet" href="../../../public/static/admin/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a>{$admin.name|default=''}</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">登录</p>
        <form class="dataForm" id="dataForm" action="" method="post">
            <div class="form-group has-feedback">
                <input name="username" id="username" autocomplete="off" type="text" class="form-control" placeholder="用户名">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="password" id="password" autocomplete="off" type="password" class="form-control" placeholder="密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            {if  $login_config.token}
            {:token()}
            {/if}

            {if  $login_config.captcha==1}
            {include file='auth/captcha' /}
            {else/}
            {if  $login_config.captcha==2}
            {include file='auth/gee_test' /}
            {/if}
            {/if}

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <input id="remember" name="remember" value="1" type="checkbox"> 记住我
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    {:token()}
                    <button type="submit" id="loginButton" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
{js href="__ADMIN_PLUGINS__/jquery/jquery.min.js" /}
{js href="__ADMIN_PLUGINS__/bootstrap/js/bootstrap.min.js" /}
{js href="__ADMIN_PLUGINS__/jquery-validation/jquery.validate.min.js" /}
{js href="__ADMIN_PLUGINS__/jquery-validation/localization/messages_zh.min.js" /}
{js href="__ADMIN_PLUGINS__/layer/layer.js" /}
{js href="__ADMIN_JS__/admin.js" /}

{include file='common/check_browser'}
</body>
</html>
